jenkins_ci/jenkins_home/
secrets.sh
prod/services/env_vars-prod
prod/infra/keycloak/keycloak_secrets
*.pyc
*.pyo
.vscode
.idea
dev/infra/data

staging/services/env_vars
staging/services/env_vars-staging
staging/services/env_vars_delegate
